@import 'node_modules/bulma/bulma.sass';
// @import 'node_modules/bulma/sass/grid/columns.sass';
// @import 'node_modules/bulma/sass/layout/section.sass';
// @import 'node_modules/bulma/sass/elements/container.sass';

html {
  background-color: #FF7416;
  color:white;
  body {
    color: aliceblue;
    iframe {
      margin-top: 0;
      padding-top: 0;
    }
  }
}
